body{	
	background: linear-gradient(to right, #3a7bd5, #3a6073); 	  
}
form{	
	width:600px;	
	margin:150px auto;	
	background: transparent;
	box-shadow:0 0 10px skyblue;	
	text-align:right;
	justify-self: right;	
	padding:5px;
	border-radius:15px;
}

input{	
	font-size:18px;
	display:block;
	margin:20px;	
	padding:10px;
	text-align:center
}
input[type="submit"]{
	border:lightseagreen;
	background:#3B9C9C;
	border:1px solid white;
	padding:4px 40px;
	border-radius:20px;
	margin: 20px 90px;
	width: 150px;
	color:#FFF;
}
input[type="submit"]:hover{
	background-color:#E5E4E2;
	box-shadow:0 0 10px #01F9C6;
	text-transform: uppercase;
	color:#008B8B;
}