<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ENBD Online Banking</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainMenuServlet</display-name>
    <servlet-name>MainMenuServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.MainMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainMenuServlet</servlet-name>
    <url-pattern>/mainmenudisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreationServlet</display-name>
    <servlet-name>AccountCreationServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.AccountCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreationServlet</servlet-name>
    <url-pattern>/createaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccountSearchServlet</display-name>
    <servlet-name>UserAccountSearchServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.UserAccountSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountSearchServlet</servlet-name>
    <url-pattern>/accountsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebitTransactionProcessingServlet</display-name>
    <servlet-name>DebitTransactionProcessingServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.DebitTransactionProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitTransactionProcessingServlet</servlet-name>
    <url-pattern>/debit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditTransactionProcessingServlet</display-name>
    <servlet-name>CreditTransactionProcessingServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.CreditTransactionProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditTransactionProcessingServlet</servlet-name>
    <url-pattern>/credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankStatementDisplayServlet</display-name>
    <servlet-name>BankStatementDisplayServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.BankStatementDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankStatementDisplayServlet</servlet-name>
    <url-pattern>/displaystatement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCreditCardServlet</display-name>
    <servlet-name>NewCreditCardServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.NewCreditCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCreditCardServlet</servlet-name>
    <url-pattern>/newcreditcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCardTransactionServlet</display-name>
    <servlet-name>CreditCardTransactionServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.CreditCardTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardTransactionServlet</servlet-name>
    <url-pattern>/creditcardtransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCardNoSearchServlet</display-name>
    <servlet-name>CreditCardNoSearchServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.CreditCardNoSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardNoSearchServlet</servlet-name>
    <url-pattern>/creditcardnosearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCardStatementDisplayServlet</display-name>
    <servlet-name>CreditCardStatementDisplayServlet</servlet-name>
    <servlet-class>com.esnbd.esnbdonline.controllers.CreditCardStatementDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardStatementDisplayServlet</servlet-name>
    <url-pattern>/creditcardstatement</url-pattern>
  </servlet-mapping>
</web-app>